.hallway-container {
  display: flex;
  margin: 10px auto;
}

.hallway-stage {
  display: flex;
  margin: 0 auto;
  border: solid black 1px;
}

.toggle-highscores {
  display: flex;
  margin-left: auto;
  margin-right: 0;
}