.user-highscore>* {
  background-color: lightgoldenrodyellow;
}

.blank-row {
  text-align: center;
}

.username-col {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 10ch;
}

.timestamp-col {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}